@font-face{
   font-family: letradescargada;
    src: url(../fonts/AlexBrush-Regular.ttf);
    font-weight: bold;
}

body{
    color:dimgrey;
    background-color: lightcyan;
    font-family: nunito, sans-serif;
    background-image: url(http://st.gde-fon.com/wallpapers_original/265756_bokeh_-bliki_-krugi_-svet_1920x1200_www.Gde-Fon.com.jpg);
    background-repeat: no-repeat; /*esto es para que no se repita la imagen de fondo*/
    background-size: cover; /*esto es para que la imagen cubra toda la pantalla aunque añadamos más enlaces (nuevos trabajos)*/
    
}

.container{
    width: 90%;
    margin: 0 auto;
    height: auto;
}
h1{
    font-family: 'Fredoka One', sans-serif;
    font-size: 55px;
	color: #fff;
    text-shadow: 0px 0px 10px #06f, 0px 0px 15px #69f, 0px 0px 20px #0ff;
}
h2{
    font-family: 'Fredoka One', sans-serif;
    font-size: 25px;
	color: #fff;
}
.trabajo a{
    color: lightpink;
    text-decoration: none;
    text-transform: uppercase; /*mayusculas*/
}
.trabajo{
    border: solid 2px blue;
    width: 270px;
    min-height: 300px; 
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    vertical-align: top;
    text-align: center;
    background-color: rgba(255,255,255,.5);
    
}

p.descripcion{
    font-family: letradescargada, sans-serif;
    font-size: 2em;
    color: blue;
}
.trabajo:hover{
    background-color: wheat; 
}
nav{
    position: fixed;
    display: block;
    top: 0;
    right: 20px;
    text-align: center;
      
}
nav ul{
   list-style: none; /*quita los puntos de la lista*/
}

nav li{
   
    background-color: beige;
    width: 70px;
       
}
nav li a{
    color:green;
    font-size: 2em;       
}

footer{
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: 'Fredoka One', sans-serif;
    font-size: 20px;
	color: #fff;
    
}
img{
    padding: 0; /* ponemos este padding y margin para poder quitar el margen de la caja y así agrandar las imagenes*/
    margin: 0;
}